body {
    font-family: Trebuchet MS, sans-serif;
    color: white;
    background-color: black;
}

a:active {color: white;}
a:link {color: white;}
a:visited {color: white;}
a:hover {color: red;}

ul.marking {
    list-style-image: url(Examples/img/mark.png);
}

ol.roman {
    list-style-type: upper-roman;
}

ol {
    list-style: none;
    counter-reset: li;
}

ol li:before {
    counter-increment: li;
    content: counters(li, ".")". ";
}



table {
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    border-collapse: collapse;
    width: 500px;
    table-layout: fixed;
}

th, td {
    border: 1px solid grey;
    padding: 10px;
}

table.inline {
    width: 100%;
    font-size: 50%;
}

caption {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
